# =========================
# BINARIES
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# =========================
# GO BUILD
# =========================
bin/
dist/
build/

# =========================
# AIR
# =========================
tmp/
.air/

# =========================
# ENV FILES
# =========================
.env.local
.env.*.local

# =========================
# LOGS
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# COVERAGE
# =========================
coverage.out
coverage.html

# =========================
# DOCKER
# =========================
docker-compose.override.yml